<div class="contacts">
    <div class="contacts__desktop">
        <div class="contacts__info contacts-info">
            <div class="contacts-info__phone">
                <div class="h1-decored">
                    <div class="decor"></div>
                    <div class="text">Позвоните нам: <a class="phone" href="tel:123123">+7 (495) 646-13-46</a></div>
                </div>
            </div>
            <div class="contacts-info__email-manager">
                <div class="contacts-info__email">
                    Или напишите:<br/>
                    <a href="mailto:info@of.ru">info@of.ru</a>
                </div>
                <div class="contacts-info__manager">
                    Персональный менеджер &mdash; Алексей Игнатов<br/>
                    ответит на все ваши вопросы
                </div>
            </div>
        </div>
        <div class="contacts__photo">
            <img src="{{model.managerPhoto}}"/>
        </div>
    </div>
    <div class="contacts__mobile contacts-mobile">
        <h2>Позвоните нам: <br/><a class="phone" href="tel:123123">+7 (495) 646-13-46</a></h2>
        <p>Или напишите: <a href="mailto:info@of.ru">info@of.ru</a></p>
        <img src="{{model.managerPhoto}}"/>
        <p>Персональный&nbsp;менеджер&nbsp;– Алексей Иванов, ответит на все ваши вопросы. </p>
    </div>
</div>