<div class="presentation__slide presentation__first-page first-page">
    <div class="first-page__h1">{{{model.h1}}}</div>
    <div class="first-page__h2">{{model.h2}}</div>
    <div class="first-page__badge">{{class-circle}}</div>
</div>