<div class="presentation__slide presentation__first-page first-page">
    <div class="first-page__h1 {{model.font_color}}_color">Коммерческая<br /> недвижимость в&nbsp;Москве</div>
    <div class="first-page__h2 {{model.font_color}}_color">презентация для компании «{{model.clientName}}»</div>
    <!--<div class="first-page__badge">{{!class-circle}}</div>-->
</div>