<div class="mobile-menu {{if opened 'opened'}}">
    <div class="mobile-menu__hamb">
      {{hamb-menu isOpen=opened}}
    </div>
    <ul class="mobile-menu__list">
        <li>Карта</li>
        <li>Контакты</li>
        <li>Объекты</li>
    </ul>
</div>