<div class="h1-decored">
    <div class="decor"></div>
    <div class="text">Доступные площади</div>
</div>
<table class="offices-table">
    <tr class="offices-table__header">
        <td class="offices-table__td">Этаж</td>
        <td class="offices-table__td">Площадь, м<sup>2</sup></td>
        <td class="offices-table__td">Ставка за, м<sup>2</sup>/год</td>
        <td class="offices-table__td">Экспл. расходы</td>
        <td class="offices-table__td">Налогооблажение</td>
        <td class="offices-table__td">Состояние</td>
    </tr>
    <tr class="offices-table__row">
        <td class="offices-table__td">Retail 1-2 этажи</td>
        <td class="offices-table__td">70 – 18 940</td>
        <td class="offices-table__td">69 299 р.</td>
        <td class="offices-table__td">включены</td>
        <td class="offices-table__td">с НДС</td>
        <td class="offices-table__td">под отделку</td>
    </tr>
    <!--<tr class="offices-table__row offices-table__comment">
        <td colspan="3"></td>
        <td colspan="3">комментарий: комментарий к блоку здесь</td>
    </tr>-->
    <tr class="offices-table__row">
        <td class="offices-table__td">Retail 1-2 этажи</td>
        <td class="offices-table__td">70 – 18 940</td>
        <td class="offices-table__td">69 299 р.</td>
        <td class="offices-table__td">включены</td>
        <td class="offices-table__td">с НДС</td>
        <td class="offices-table__td">под отделку</td>
    </tr>
    <!--<tr class="offices-table__row offices-table__comment">
        <td colspan="3">комментарий:</td>
        <td colspan="3">комментарий к блоку здесь</td>
    </tr>-->
    <tr class="offices-table__row">
        <td class="offices-table__td">Retail 1-2 этажи</td>
        <td class="offices-table__td">70 – 18 940</td>
        <td class="offices-table__td">69 299 р.</td>
        <td class="offices-table__td">включены</td>
        <td class="offices-table__td">с НДС</td>
        <td class="offices-table__td">под отделку</td>
    </tr>
    <!--<tr class="offices-table__row offices-table__comment">
        <td colspan="3">комментарий:</td>
        <td colspan="3">комментарий к блоку здесь</td>
    </tr>-->

</table>