@import "vendor/normalizer";
@import "vendor/bourbon/app/assets/stylesheets/bourbon";
@import "vendor/bourbon-neat/app/assets/stylesheets/neat";
$font-stack-system: 15px;

@import "vendor/bitters/base";

@import "components/page-c";
@import "components/map";

h1.big{
  font-size: 100px;
  font-weight: 300;
}
