@import "vendor/normalizer";
@import "vendor/bourbon/app/assets/stylesheets/bourbon";
@import "vendor/bourbon-neat/app/assets/stylesheets/neat";
@import "fonts";

$font-stack-system: 15px;
$font-color: #222222;
$header-height: 85px;
$h1-size: 65px;
$h1-small-size: 45px;
$h2-size: 25px;
$active-color: #3AAAEE;
$border-color: #EEEEEE;
//$bg-color: #bebebe;
$bg-color: #F7F7F7;
$bg-border: #dedede;
$phone-color: #333333;
$light-active:#55B6F0;

@import "vendor/bitters/base";
@import "mixins";

@import "components/page-c";
@import "components/map";
@import "components/first-page";

.phone{
  font-family: MuseoSansCyrl-700;

  color: $phone-color;
  border-bottom: 1px dashed $phone-color;
  &:hover{
    color: $action-color;
    border-bottom: 1px dashed $action-color;

  }
}

body{
  background: $bg-color;
}
.presentation{
  background: white;
  border-left: 1px solid $bg-border;
  border-right: 1px solid $bg-border;
}
.class-circle {
  width: 240px;
  height: 240px;
}

.presentation {
  max-width: 1500px;
  margin: 0 auto;
  &__header {
    padding: 0 50px;
    line-height: $header-height;
    height: $header-height;
  }
  &__slide {
    padding: 0 10vh;
    margin-bottom: 10vh;
    &.gray{
      background: #F7F7F7;
      padding-top: 50px;
      padding-bottom: 50px;
    }

  }
}

.presentation__slide:last-child{
  margin-bottom: 0;
}
.presentation-header {
  @include clearfix;
  &__logo, &__contacts {
    float: left;
  }
  &__logo {
    width: 150px;
    border-right: 1px solid #EEEEEE;
    img {
      width: 100px;
      vertical-align: middle;
    }
  }
  &__phone{
    @extend .phone;
  }
  &__contacts {

    height: 100%;
    .text{
      padding-left: 50px;
      font-size: 16px;
    }
  }
  &__menu {
    float: right;
  }
  .header-menu {
    @include clearfix;
    list-style: none;
    li {
      float: right;
      display: inline;
      margin-left: 40px;
      a{
        color: $font-color;
      }
      a:hover{
        color: $active-color;
      }
      &.active{
        a{
          color: $active-color;
        }
      }
    }
  }
}

.building-view {
  &__h1 {
    @include clearfix;
    font-size: $h1-small-size;
    .decor{
      float: left;
      width: 4px;
      color: #3AAAEE;
      height: 32px;
      background: #3AAAEE;
      position: relative;
      top: 16px;
    }
    .text{
      float: left;
      padding-left: 15px;
    }
  }
  &__p{
    padding-left: 19px;

  }
  &__text{
    font-size: 16px;
    width: 50%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }
  &__row {
    position: relative;
    @include clearfix;
    min-height: 400px;
    &:nth-child(1) {

    }

    margin-bottom: 2vh;
  }
  &__text, &__map {
    padding-left: 2vh;
  }
  &__img, &__map {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 100%;
  }
  &__map {
    height: 30vw;
  }
  &__img{
    object-fit: cover;

  }
  &__img.vertical {
    margin-left: 15%;
    width: 35%;
    min-height: 570px;
    max-width:610px;
  }
}

.second-page-props{
  $cur-height: 132px;
  height: $cur-height;


  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  &__prop{
    width: 100%;
    height: 100%;
    position: relative;
  }

}

.building-prop{
  &__wrap{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 0;
    height: 90px;
    line-height: 90px;
    border-right: 1px solid $border-color;
    width: 100%;
    text-align: center;
  }
  &__icon, &__text{
    display: inline-block;
    line-height: 1em;
  }
  &__icon{
    position: relative;
    top: 10px;
  }


  &:last-child{
    .building-prop__wrap{
      border-right: none;
    }
  }
}
.bc-gallery{
  &__thumbs{
    a:nth-child(1){
      img{
        object-fit: contain;
        width: 100%;
        max-height: inherit;
      }
      width: 100%;
      max-height: 80vh;
      height: inherit;
      display: block;;
    }

  }
}
.thumbs{

  &__row{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__el{
    margin-right: 15px;
    img{
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  }
  &__el:last-child{
    margin-right: 0;
  }
}

.building-features{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__feature{


    text-align: center;
    background: white;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    height: 240px;
    width: 33%;
  }
}
.feature{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-decored{
  font-size: 45px;
  @include clearfix;
  .decor{
    float: left;
    width: 4px;
    color: #3AAAEE;
    height: 32px;
    background: #3AAAEE;
    position: relative;
    top: 16px;
  }
  .text{
    float: left;
    padding-left: 15px;
  }
}

.offices-table{
  display: table;
  width: 100%;
  &__header{
    td{
      font-family: MuseoSansCyrl-700;
    }
  }
  &__row{
    td{
      font-family: MuseoSansCyrl-500;
    }
    td:nth-child(1){
      color: $light-active;
    }
  }
  &__header, &__row{
    display: table-row;

  }
  &__td{
    padding: 0;
    height: 50px;
    line-height: 50px;
    display: table-cell;
    border-bottom: 1px solid $border-color;
  }
  &__comment{
    text-align: center;

  }

  &__comment{
    td:nth-child(2){
      text-align: center;
      padding-left: 10px;
    }
    td:nth-child(1){
      text-align: right;
      color: $font-color;
    }
  }
}

.contacts-info{
  width: calc(100% / 3 * 2);
  &__email-manager{
    display: flex;
    flex-direction: row;
  }
  &__manager{
    padding-left: 50px;
    text-align: left;
  }
  &__email{
    text-align: left;
  }
  &__phone{
    margin-bottom: 40px;
  }
  &__table{
    border-collapse: collapse;
    .expand{
      width: 99%;
    }
    width: 50%;
    border: none;
    td:not(.expand){
      border: none;
      white-space: nowrap;

    }
  }
}
.contacts{

  display: flex;
  flex-direction: row;
  text-align: center;
  &__photo{
    width: calc(100% / 3 * 1);
    display: inline-block;
  }
}
