@import "vendor/normalizer";
@import "vendor/bourbon/app/assets/stylesheets/bourbon";
@import "vendor/bourbon-neat/app/assets/stylesheets/neat";
@import "fonts";

$font-stack-system: 15px;
$font-color: #222222;
$header-height: 85px;
$h1-size: 65px;
$h1-small-size: 45px;
$h2-size: 25px;
$active-color: #3AAAEE;
$border-color: #EEEEEE;
//$bg-color: #bebebe;
$bg-color: #F7F7F7;
$bg-border: #dedede;
$phone-color: #333333;
$light-active:#55B6F0;


/*Break points*/
$tablet: new-breakpoint(max-width 1260px 4);
$small-tablet: new-breakpoint(max-width 910px 4);
$big-phone: new-breakpoint(max-width 780px 4);
$phone: new-breakpoint(max-width 780px 4);
/*/Break points*/


@import "vendor/bitters/base";
@import "mixins";

@import "components/page-c";
@import "components/map";
@import "components/first-page";
@import "components/hamb";
@import "components/mobile-menu";
@import "components/building-props";
@import "components/features";
@import "components/contacts";
@import "components/offices-table";

.phone{
  font-family: MuseoSansCyrl-700;

  color: $phone-color;
  border-bottom: 1px dashed $phone-color;
  &:hover{
    color: $action-color;
    border-bottom: 1px dashed $action-color;

  }
}

body{
  background: $bg-color;
}
.presentation{
  background: white;
  border-left: 1px solid $bg-border;
  border-right: 1px solid $bg-border;
  &.blur{
    $blur: 5px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
    opacity: 0.95;
  }
}
.class-circle {
  width: 240px;
  height: 240px;
}

.presentation {
  max-width: 1500px;
  margin: 0 auto;
  &__header {
    padding: 0 50px;
    line-height: $header-height;
    height: $header-height;
  }
  &__slide {
    padding: 0 50px;
    margin-bottom: 50px;
    @include media($big-phone) {
      padding: 0 10px;
    }
    &.gray{
      background: #F7F7F7;
      padding-top: 50px;
      padding-bottom: 50px;
    }


  }
}

.presentation__slide:last-child{
  margin-bottom: 0;
}
.presentation-header {
  @include clearfix;
  &__logo, &__contacts {
    float: left;
  }
  &__logo {
    width: 150px;
    border-right: 1px solid #EEEEEE;
    img {
      width: 100px;
      vertical-align: middle;
    }
  }
  &__phone{
    @extend .phone;
  }
  &__contacts {

    height: 100%;
    .text{
      padding-left: 50px;
      font-size: 16px;
    }
  }
  &__menu {
    float: right;
  }
  .header-menu {
    @include clearfix;
    list-style: none;
    li {
      float: right;
      display: inline;
      margin-left: 40px;
      a{
        color: $font-color;
      }
      a:hover{
        color: $active-color;
      }
      &.active{
        a{
          color: $active-color;
        }
      }
    }
  }

  .header-menu-mobile{
    display: none;
    height: $header-height;
    line-height: $header-height;
    &__switcher{
      display: inline-block;
      vertical-align: middle;
    }
  }
  /* responsive*/
  @include media($tablet) {
    .header-menu{
      display: none;
    }
    .header-menu-mobile{
      display: block;
    }
  }

  @include media($small-tablet) {
    &__name{
      display: none;
    }
  }
  @include media($big-phone) {
    &__post{
      display: none;
    }
    .mdash{
      display: none;
    }
  }
  @include media($phone){
    &__contacts{
      display: none;
    }
  }
  /*/responsive*/

}

.building-view {
  &__h1 {
    @include clearfix;
    font-size: $h1-small-size;
    .decor{
      float: left;
      width: 4px;
      color: #3AAAEE;
      height: 32px;
      background: #3AAAEE;
      position: relative;
      top: 16px;
      @include media($tablet) {
        top: 5px !important;
      }
      @include media($small-tablet) {

      }
    }
    .text{
      float: left;
      padding-left: 15px;
      @include media($tablet) {
        font-size: 28px;
      }
      @include media($small-tablet) {
        font-size: 24px;

      }
    }
  }
  &__p{
    padding-left: 19px;
    @include media($big-phone) {
      text-align: center;
    }
  }
  &__p-decor{
    display: none;
    @include media($big-phone) {
      display: block;
      height: 4px;
      background: $active-color;
      width: 5vw;
      margin: 1.1em auto 0 auto;
    }
  }
  &__text{
    font-size: 16px;
    width: 50%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);


    @include media($big-phone) {
      margin-top: 100px;
      width: 100%;
      display: block;
      position: static;
      .decor{
        display: none;
      }
      .h1-decored{
        .text{
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  &__row {
    position: relative;
    @include clearfix;
    overflow: hidden;
    /*min-height: 400px;
    max-height: 40vh;
    margin-bottom: 2vh;*/
    height: 400px;
    margin-bottom: 20px;

    @include media($tablet) {
      height: 300px;
      margin-bottom: 15px;
    }
    @include media($small-tablet) {
      height: 250px;
      margin-bottom: 10px;
      &.second-row{
        height: 350px;

      }
    }
    @include media($big-phone) {
    }


  }
  &__text, &__map {
    padding-left: 2vh;
  }
  &__img, &__map {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 100%;
  }
  &__map {
    max-height: 35vh;
    @include media($big-phone) {
      width: 100%;
      height: inherit;
      max-height: none;
    }
  }
  &__img{
    object-fit: cover;
    @include media($big-phone) {
        display: none;
    }

  }
  &__img.vertical {
    margin-left: 15%;
    width: 35%;
    min-height: 570px;
    max-width:610px;
  }
}

.bc-gallery{
  &__thumbs{
    a:nth-child(1){
      img{
        object-fit: contain;
        width: 100%;
        max-height: inherit;
      }
      width: 100%;
      max-height: 80vh;
      height: inherit;
      display: block;;
    }

  }
}
.thumbs{

  &__row{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__el{
    margin-right: 15px;
    img{
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  }
  &__el:last-child{
    margin-right: 0;
  }
}



.h1-decored{
  font-size: 45px;
  @include clearfix;
  .decor{
    float: left;
    width: 4px;
    color: #3AAAEE;
    height: 32px;
    background: #3AAAEE;
    position: relative;
    top: 16px;
  }
  .text{
    float: left;
    padding-left: 15px;
  }
}



