<div class="select-main-pic__row chose-new-pic">
    <input type="file" class="chose-new-pic__input" />
    <button>выбрать фото</button>
</div>
<div class="select-main-pic__row chose-from-exist">
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>
    <a href="">
        <img width="200" src="/main_pic.png" />
    </a>

</div>