div.first-page{
  padding-top: calc(#{$header-height} + 50px);
  @include media($big-phone) {
    padding-top: calc(#{$header-height});
  }

  @include media($tablet) {
    margin-bottom: 30px !important;
  }
  @include media($phone) {
    margin-bottom: 20px !important;
  }
  position: relative;
  height: 95vh;
  &__h1{
    font-size: $h1-size;
    line-height: 70px;
    color: #222222;
    font-family: MuseoSansCyrl-700;
    @include media($tablet) {
      text-align: center;
      font-size: calc(#{$h1-small-size} * 0.8);
      line-height: 35px;
      margin-bottom: 10px;
    }
    @include media($big-phone) {
      text-align: center;
      font-size: calc(#{$h1-small-size} * 0.5);
      line-height: 25px;
      margin-bottom: 5px;
    }
    @include media($small-phone) {
      font-size: calc(#{$h1-small-size} * 0.5);
      text-align: center;
    }
  }
  &__h2{
    font-size: calc(#{$h2-size} * 0.5);

    text-transform: uppercase;
    @include media($tablet) {
      text-align: center;
    }
  }
  .class-circle{

    position: absolute;
    bottom: -115px;
    right: 0;
    &__text{
      text-align: center;
    }

    @include media($big-phone) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}


