.first-page{

  @include media($tablet) {
    margin-bottom: 120px !important;
  }
  @include media($phone) {
    padding-bottom: 140px !important;
  }
  padding-top: 50px !important;
  position: relative;
  height: 95vh;
  &__h1{
    font-size: $h1-size;
    line-height: 70px;
    color: #222222;
    font-family: MuseoSansCyrl-700;
    @include media($big-phone) {
      text-align: center;
      font-size: calc(#{$h1-small-size} * 0.8);
    }
    @include media($small-phone) {
      font-size: calc(#{$h1-small-size} * 0.5);
      text-align: center;
    }
  }
  &__h2{
    font-size: $h2-size;
    text-transform: uppercase;
    @include media($big-phone) {
      text-align: center;
    }
  }
  .class-circle{

    position: absolute;
    bottom: -115px;
    right: 0;
    &__text{
      text-align: center;
    }

    @include media($big-phone) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}


